<h1>Room Data</h1>

<p>This component demonstrates fetching Slot data from the server.</p>

<p *ngIf="!roomList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/add-room']">Create New</a>
</p>

<table class='table' *ngIf="roomList">
  <thead>
  <tr>
    <th>Room ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let room of roomList">
    <td>{{ room.roomId }}</td>

    <td>
    <!--<td>
      <a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
      <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>
    </td>-->
  </tr>
  </tbody>
</table>
