@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"]</h2>
<h3>Common questions related to using ASR system</h3>

<br />
<br />

<h4>Q: Do I need a valid account to start using ASR system?</h4>
<h4>A: </h4>
<p>
    Yes. You must register a staff or student account first. <br />
</p>

<br />
<br />

<h4>Q: What features ASR system provides? </h4>
<h4>A: </h4>
<p>
    If you are a staff, you can: <br />
    check the room availability, create & delete booking slots and list their booking schedule.<br />
    If you are a student, you can: <br />
    View the available slots (for each of the staff members), book a slot and cancel the booking.<br />
</p>

<br />
<br />

<h4>Q: What are the rules to register a valid Staff/Student account?</h4>
<h4>A: </h4>
<p>
    Please follow these rules below when you creating a new account: <br />
    1. The Staff ID always starts with a letter ‘e’ followed by 5 numbers. <br />
    2. The Student ID always starts with a letter ‘s’ followed by 7 numbers. <br />
    3. Email for a staff always ends with rmit.edu.au <br />
    4. Email for a student always ends with student.rmit.edu.au <br />
</p>

<br />
<br />

<h4>Q: Is there any limitation for staffs to create/delete slot?</h4>
<h4>A: </h4>
<p>
    Yes. There are five rules established to limit creating or deleting slots:
    1. A staff member can book a maximum of 4 slots per day. <br />
    2. The slots must be booked between the school working hours of 9am to 2pm and
    will always be booked at the start of the hour, e.g., 10:00am, 1:00pm, etc... <br />
    3. Each room can be booked for a maximum of 2 slots per day. <br />
    4. A staff member cannot delete a slot once it has been booked by a student. <br />
</p>

<br />
<br />

<h4>Q: What are the rules for student to book a slot?</h4>
<h4>A: </h4>
<p>
    If you are a student, please make sure:<br />
    1. You can only make 1 booking per day. <br />
    2. A slot can have a maximum of 1 student booked into it. <br />
</p>

<br />
<br />

<h4>Q: Why there are so many rules??</h4>
<h4>A: </h4>
<p>
    Who knows.
    <br />
</p>
<br />
<br />
<br />

<address>
    RMIT University<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s3512993@student.rmit.edu.au">s3512993@student.rmit.edu.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:s3681602@student.rmit.edu.au">s3681602@student.rmit.edu.au</a>
</address>
