@model ApplicationUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />

    <h1 style="font-size:500%" class="display-4">Welcome</h1>
    <div>
        @if (Model == null)
        {
            <p><a asp-area="Identity" asp-page="/Account/Login">Login</a> to schedule and reserve your appointment. </p>
        }
        else if (!String.IsNullOrEmpty(Model.StudentID))
        {
            <p>Student @Model.Student.Name</p>
        }
        else if (!String.IsNullOrEmpty(Model.StaffID))
        {
            <p>Staff @Model.Staff.Name</p>
        }

        <br />
        <br />
        <img src="images/logo.png" alt="sample Photo" />
    </div>
    <br />
    <br />
    <br />
    <br />

</div>
