@model IEnumerable<Room>
@{
    ViewData["Title"] = "Rooms";
}

<h2>Rooms</h2>
<form asp-controller="Staff" asp-action="RoomTable" method="get">
    <p>
        Check Room Availability on Date: <input type="date" name="SearchRoomByDate">
        <input type="submit" value="Check" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.RoomID)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
        <tr>
            <td>@Html.DisplayFor(x => item.RoomID)</td>
        </tr>
            }
    </tbody>
</table>