<h1>{{title}}</h1>
<h3>Slot</h3>
<hr />
<form [formGroup]="slotForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

  <div class="form-group row">
    <label class=" control-label col-md-12">Room ID</label>
    <div class="col-md-4">
      <div *ngIf="localRoomId else createRoom">
        <!-- if roomid != null -->
        <input class="form-control" type="text" formControlName="roomId" readonly />
      </div>
      <ng-template #createRoom>
        <select class="form-control" data-val="true" formControlName="roomId">
          <option value="">--select room--</option>
          <option *ngFor="let room of roomList" value={{room.roomId}}>{{room.roomId}}</option>
        </select>
      </ng-template>
    </div>
    <div>
      <span class="text-danger" *ngIf="roomId.invalid && formDir.submitted">Room is required.</span>
    </div>

  </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="startTime">Start Time</label>
      <div class="col-md-4">
        <div *ngIf="localStartTime else createTime">
          <input class="form-control" type="datetime-local" formControlName="startTime" readonly />
        </div>
        <ng-template #createTime>
          <div>
            <input class="form-control" type="datetime-local" formControlName="startTime" />
          </div>
        </ng-template>
      </div>
      <div>
        <span class="text-danger" *ngIf="startTime.invalid && formDir.submitted">
          start time is required.
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="staffId">Staff ID</label>
      <div class="col-md-4">
        <!--<input class="form-control" type="text" formControlName="staffId">-->
        <select class="form-control" data-val="true" formControlName="staffId">
          <option value="">--select Staff--</option>
          <option *ngFor="let staff of staffList" value={{staff.staffId}}>{{staff.staffId}}</option>
        </select>
      </div>
      <span class="text-danger" *ngIf="staffId.invalid && formDir.submitted">
        Staff ID is required.
      </span>
    </div>

    <div class="form-group row">
      <label class=" control-label col-md-12" for="StudentId">Student ID</label>
      <div class="col-md-4">
        <!--<input class="form-control" type="text" formControlName="studentId">-->
        <select class="form-control" data-val="true" formControlName="studentId">
          <option value="">--No Student--</option>
          <option *ngFor="let student of studentList" value={{student.studentId}}>{{student.studentId}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Save</button>
      <button class="btn" (click)="cancel()">Cancel</button>
    </div>
</form>
