<h1>Admin Dashboard</h1>
<h4><em>Welcome to Admin Page</em></h4>

<br /><br />
<p>By using this dashboard, you can: </p>
<ul>
  <li><strong>Get summary of slots</strong>.
  <li><strong>Filter slots for a staff or student</strong>
  <li><strong>Add and edit slots</strong>.
  <li><strong>Add and edit rooms</strong>.
</ul>

   <p>The <code>Dashboard App</code> subdirectory is a standard Angular CLI application. </p>
   <p>If any issue, please contact <a href=": yifengzhao0530@gmail.com">Jingyi Zhao</a>
      and <a href=": luzhongnian1991@gmail.com">Zhongnian Lu</a>
  </p>
