@model AsrSystem.Models.Slot

@{
    ViewData["Title"] = "Student Menu";
}

<h2>@ViewData["Title"]</h2>
<h2>Booking Successfully.</h2>
<h2>@Model.StaffID</h2>

<p>
    <a asp-action="Index">Return to slot list</a>
</p>
