@model IEnumerable<AsrSystem.Models.Slot>

@{
    ViewData["Title"] = "Student Menu";
}

<h2>@ViewData["Title"]</h2>
<h2>Cancel Booking Successfully.</h2>
<h2>@ViewData["INFO"]</h2>

<p>
    <a asp-action="Index">Return to slot list</a>
</p>
